/*Reset*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*formando el navegador*/
.Navegador__logo{
    border-radius: 20px;
    width: 100px;
    border: 5px;
}

body header nav ul li a{ 
    color: rgb(255, 251, 251);
    text-decoration: none;
}
  
.Navegador{
    background-image: linear-gradient(270deg, #f9a78c 0, #f39985 16.67%, #e8857a 33.33%, #d86c6c 50%, #c75260 66.67%, #ba3d5a 83.33%, rgb(176, 45, 89) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    justify-content: space-around;

}

.lista{
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    align-items:flex-end;   
}

.lista__elemento{
    margin: 7px;
    background-image: radial-gradient(circle at 50% 50%, #9d4346 0, #8a3743 16.67%, #732b3c 33.33%, #591f32 50%, #401427 66.67%, #2b0b1c 83.33%, #1d0012 100%);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 10px 3px 22px 1px rgba(0,0,0,0.56); 
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
}

.opciones{
    bottom: 10px;
    right: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-self: end;
}
.formulario{
    display: flex;
    width: 50%;
    justify-content: center;
}

.formulario__boton{
    width: 60px;
    box-shadow: 10px 3px 22px 1px rgba(0,0,0,0.56);   
}

.formulario__texto{
    width:50%;
    height: 30px;
    box-shadow: 10px 3px 22px 1px rgba(0,0,0,0.56);
    border-radius: 20px;

}
/*animacion para las opciones al indicarlas con el puntero*/
 
@media (min-width: 1000px) 
{
.lista__elemento:hover {
    background-image: radial-gradient(circle at 120.71% 50%, #9d4346 0, #8a3743 16.67%, #732b3c 33.33%, #591f32 50%, #401427 66.67%, #2b0b1c 83.33%, #1d0012 100%);
    padding: 5px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);   
}
body header nav ul li a:hover { 
    color: rgb(255, 251, 251);
}
}

/*formando Las paginas*/
/*estilos generales*/
.img-inicio{
    width: 500px;
}

.contenido__titulo{
    font-family: 'Prompt', sans-serif;
    font-size: 70px;
    text-align: center;

}

.contenido__Subtitulo{
    font-family: 'Prompt', sans-serif;
    text-align: center; 
} 


/*pagina ayuda*/
.preguntas__texto{
    font-family: 'Prompt', sans-serif;

}
.preguntas__subtitulo{
    font-family: 'Prompt', sans-serif;
}

.preguntas{
    margin: 20px;
}

/*pagina Productos*/

.contenido{
    display: grid;
    grid-template-columns:10fr 10fr 10fr;
    
}

.contenido__Subtitulo{
    text-align: left;
}

.productos{
    width: 400px;
    height: 400px;
}

.productos__img{
    width: 300px;
    margin: 20px;
}

.productos__texto{
    font-family: 'Prompt', sans-serif;
}

/*pagina contacto*/
.consulta{
    width: 500px;
    height: 500px;
}

.consulta__nombre{
    display: block;
    margin: 3px 0 3px 3px;
}
.consulta__numero{
    display: block;
    margin: 3px 0 3px 3px;
}
.consulta__correo{
    display: block;
    margin: 3px 0 3px 3px;
}
.consulta__textarea{
    display: block;
    margin: 3px 0 3px 3px;
    width: 400px;
    height: 100px;
}
.consulta__boton{
    margin: 3px 0 3px 3px;
}

footer h2{
    display: flex;
    flex-direction:row;
    align-self: end;
    justify-content: center;
    height: 1000px;
}